<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mms.usercenter.service.auth.mapper.UserRoleMapper">

    <!-- 结果映射（完整映射，用于其他查询） -->
    <resultMap id="BaseResultMap" type="com.mms.usercenter.common.auth.entity.UserRoleEntity">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="role_id" property="roleId"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

</mapper>

